* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "Nunito";
  src: url("../font/Nunito-Regular.ttf") format("truetype");
}

body {
  font-family: Nunito, sans-serif !important;
  padding-top: 80px;
}

a {
  color: #ffffff;
}

.clear {
  clear: both;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 30px;
}

/* Custom styles here */

/* Navbar */
.navbar {
  background-image: linear-gradient(90deg, #0000ff, #3574fd);
  padding: 20px 0;
  box-shadow: 0 6px 3px rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: white !important;
}

.sidebar-wrapper {
  display: none;
  float: right;
  margin-top: 5px;
}

.sidebar-wrapper i.fa-bars {
  cursor: pointer;
}

.sidebar i.fa-times {
  position: absolute;
  top: 24px;
  right: 5px;
  cursor: pointer;
}

.sidebar {
  position: absolute;
  background-image: linear-gradient(90deg, #0000ff, #3574fd);
  top: 0;
  right: -9999px;
  text-align: center;
  width: 100%;
  height: 100vh;
  transition: 0.5s;
}

.sidebar h1 {
  margin-top: 20px;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 0 10px;
}

.nav li {
  border-bottom: 3px solid #ffffff;
}

.nav li a {
  font-size: 24px;
}

.header-left {
  float: left;
}

.header-left a {
  font-size: 30px;
  transition: 0.3s;
}

.header-left a:hover {
  color: #000000;
}

.header-right {
  float: right;
}

.header-right ul li {
  display: inline-block;
  margin-top: 7px;
  margin-left: 28px;
}

.header-right ul li a {
  font-size: 18px;
  transition: 0.3s;
}

.header-right ul li a:hover {
  color: #000000;
}

/* About Wrapper */
.about-wrapper {
  text-align: center;
  padding: 20px 0;
  background-color: #ffa500;
}

.photo {
  border-radius: 50%;
  margin-bottom: 10px;
}

.about-wrapper h1 {
  margin-bottom: 10px;
  margin-top: 20px;
}

.about-wrapper p {
  font-size: 18px;
}
/* Skill Wrapper */

.skill-wrapper {
  text-align: center;
  padding: 20px 0;
}

.skill-wrapper h1 {
  /* background-color: #ffa500; */
}

.skills {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill {
  padding: 50px;
}

.skill-icon {
  width: 150px;
  height: 150px;
}

/* Contact Wrapper */
.contact-wrapper {
  padding: 20px 0;
  text-align: center;
  background-color: #ffa500;
}

.contact-wrapper h1 {
  /* background-color: #ffa500; */
}

.contact {
  display: inline-block;
  margin: 30px 50px;
}

/* Footer wrapper */
.footer {
  background-image: linear-gradient(90deg, #0000ff, #3547da);
  text-align: center;
  padding: 20px 0;
}

/* Responsive Breakpoint */

/* Tablet */

/* Smartphone */
@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .sidebar-wrapper {
    display: block;
  }
}
